---
import Footer from "@/components/Footer.astro";
import "@/styles/global.css";
const { title = "CodeDomus" } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <slot name="head" />
  </head>
  <body class="flex min-h-screen flex-col bg-background-body font-sans text-(--color-text-default)">
    <div class="flex-1">
      <slot />
    </div>
    <Footer />
  </body>
</html>
